<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
  <head
    th:replace="~{fragments :: html_head('Create new Product', 'none')}"
  ></head>

  <body>
    <div th:fragment="content" th:remove="tag">
      <div class="form-group p-2 row border">
        <div class="form-group row p-2">
          <label class="col-sm-2 col-form-label">Product Name:</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              th:field="*{name}"
              minlength="3"
              maxlength="256"
              required
              th:readonly="${#authorization.expression('hasAuthority(''Salesperson'')')}"
            />
          </div>
        </div>
        <div class="form-group row p-2">
          <label class="col-sm-2 col-form-label">Alias:</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              th:field="*{alias}"
              th:readonly="${#authorization.expression('hasAuthority(''Salesperson'')')}"
              minlength="3"
              maxlength="128"
              placeholder="Default is product name (spaces replaced by dashes)"
            />
          </div>
        </div>

        <div class="form-group row p-2">
          <label class="col-sm-2 col-form-label">Brand:</label>
          <div class="col-sm-10">
            <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
              <select class="form-select" th:field="*{brandId}" required>
                <option selected th:value="0">No brand</option>
                <th:block th:each="brand : ${brands}">
                  <option th:value="${brand.id}">[[${brand.name}]]</option>
                </th:block>
              </select>
            </th:block>

            <th:block sec:authorize="hasAuthority('Salesperson')">
              <span class="badge text-bg-primary" th:if="${brand != null}"
                >[[${brand.name}]]</span
              >
              <span class="badge text-bg-secondary" th:if="${brand == null}"
                >No Brand</span
              >
            </th:block>
          </div>
        </div>

        <div class="form-group row p-2">
          <label class="col-sm-2 col-form-label">Category:</label>
          <div class="col-sm-10">
            <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
              <select class="form-select" th:field="*{categoryId}" required>
                <option selected th:value="0">No parent</option>
                <th:block th:each="category : ${categories}">
                  <option th:value="${category.id}">
                    [[${category.name}]]
                  </option>
                </th:block>
              </select>
            </th:block>

            <th:block sec:authorize="hasAuthority('Salesperson')">
              <span class="badge text-bg-primary" th:if="${category != null}"
                >[[${category.name}]]</span
              >
              <span class="badge text-bg-secondary" th:if="${category == null}"
                >No Category</span
              >
            </th:block>
          </div>
        </div>

        <div class="form-group row p-2">
          <label class="col-sm-2 col-form-label">Enabled:</label>
          <div class="col-sm-10">
            <input
              th:field="*{enabled}"
              type="checkbox"
              th:disabled="${#authorization.expression('hasAuthority(''Salesperson'')')}"
            />
          </div>
        </div>

        <div class="form-group row p-2">
          <label class="col-sm-2 col-form-label">In Stock:</label>
          <div class="col-sm-10">
            <input
              th:field="*{inStock}"
              type="checkbox"
              th:disabled="${#authorization.expression('hasAuthority(''Salesperson'')')}"
            />
          </div>
        </div>

        <div class="form-group row p-2">
          <label class="col-sm-2 col-form-label">Cost:</label>
          <div class="col-sm-10">
            <input
              class="form-control"
              th:field="*{cost}"
              placeholder="0.0"
              required
              th:readonly="${#authorization.expression('hasAuthority(''Salesperson'')')}"
            />
          </div>
        </div>

        <div class="form-group row p-2">
          <label class="col-sm-2 col-form-label">List Price:</label>
          <div class="col-sm-10">
            <input
              class="form-control"
              th:field="*{price}"
              type="number"
              placeholder="0.0"
              required
              th:readonly="${#authorization.expression('hasAuthority(''Salesperson'')')}"
            />
          </div>
        </div>

        <div class="form-group row p-2">
          <label class="col-sm-2 col-form-label">Discount:</label>
          <div class="col-sm-10">
            <input
              class="form-control"
              th:field="*{discountPercent}"
              type="number"
              placeholder="0.0"
              required
              th:readonly="${#authorization.expression('hasAuthority(''Salesperson'')')}"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
