<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
  <head
    th:replace="~{fragments :: html_head('Conrol Panel - Shop Admin', 'none')}"
  ></head>

  <body>
    <div>
      <div>
        <form
          th:action="@{/logout}"
          th:hidden="true"
          method="post"
          name="LogoutForm"
        >
          <input type="submit" />
        </form>

        <nav th:replace="~{fragments :: navbar()}"></nav>
      </div>

      <div class="ms-4">
        <h2>Manage Products</h2>
        <a
          class="fa-solid fa-user-plus fa-2x text-secondary mt-2"
          style="text-decoration: none"
          title="Create new Product"
          th:href="@{/api/v1/products/new}"
        ></a>
        &nbsp;&nbsp;
        <a
          class="fa-solid fa-file-csv fa-2x text-secondary mt-2"
          style="text-decoration: none"
          title="Export to CSV"
          th:href="@{/api/v1/products/export/csv}"
        ></a>
      </div>

      <!-- Filter bar -->
      <form
        class="row g-3 ms-2 mt-2 align-items-center"
        th:action="@{/api/v1/products/1}"
      >
        <input type="hidden" name="sortField" th:value="${sortField}" />
        <input type="hidden" name="sortDir" th:value="${sortDir}" />

        <div class="col-auto">
          <div class="input-group">
            <div class="input-group-text">Filter</div>
            <input
              class="form-control"
              type="text"
              name="keyword"
              th:value="${keyword}"
              required
            />
          </div>
        </div>

        <div class="col-auto">
          <button class="btn btn-primary" type="submit">
            <i class="fas fa-search"></i>
          </button>
          &nbsp;
          <button
            class="btn btn-secondary"
            type="button"
            id="btnClear"
            onclick="clearSearch()"
          >
            <i class="fas fa-eraser"></i>
          </button>
        </div>
        <div>&nbsp;</div>
      </form>

      <div class="text-center alert alert-success" th:if="${message != null}">
        [[${message}]]
      </div>

      <div class="full-details">
        <table
          class="text-center table table-bordered table-striped table-hover"
        >
          <thead>
            <tr>
              <th class="hideable-column">
                <span
                  th:replace="~{fragments :: column_link('products', 'id', 'ID', 'tag')}"
                ></span>
              </th>
              <th>Main image</th>
              <th
                th:replace="~{fragments :: column_link('products', 'name', 'Product Name', 'none')}"
              ></th>
              <th
                th:replace="~{fragments :: column_link('products', 'category', 'Category', 'none')}"
              ></th>
              <th
                th:replace="~{fragments :: column_link('products', 'brand', 'Brand', 'none')}"
              ></th>
              <th
                th:replace="~{fragments :: column_link('products', 'enabled', 'Enabled', 'none')}"
              ></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="product : ${products}">
              <td class="text-center hideable-column">[[${product.id}]]</td>
              <td class="text-center">
                <img
                class="img-fluid rounded-3"
                style="width: 100px"
                th:if="${product.mainImage != null}"
                th:src="@{${product.mainImagesPath}}"
                alt=""
              />
              </td>
              <td class="text-center">[[${product.name}]]</td>
              <td class="text-center">
                <span th:if="${product.category != null}"
                  >[[${product.category.name}]]</span
                >
              </td>
              <td class="text-center">
                <span th:if="${product.brand != null}"
                  >[[${product.brand.name}]]</span
                >
              </td>
              <td>
                <div
                  th:replace="~{fragments :: status(${product.enabled}, ${product}, 'products')}"
                ></div>
              </td>
              <td class="text-center">
                <a
                  class="fas fa-file-alt fa-2x text-success"
                  th:href="'/api/v1/products/' + ${product.id}"
                  title="Veiw details of this product"
                ></a>
                <span class="m-3"></span>
                <a
                  th:replace="~{fragments :: edit('products', ${product}, 'product')}"
                ></a>
                <span class="m-3"></span>
                <a
                  th:replace="~{fragments :: delete('products', ${product}, 'product', false)}"
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="modal fade" id="confirmModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Delete Confirmation</h4>
            <button
              id="modalCancelBtnX"
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body">
            <p id="modalBody"></p>
          </div>

          <div class="modal-footer">
            <a id="yesBtn" class="btn btn-success" href="">Yes</a>
            <button
              id="ConfirmationBtn"
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              No
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- pagination bar -->
    <br />
    <div class="text-center mt-3">
      <span th:if="${totalProducts <= 0}">No Products found.</span>
      <nav th:if="${totalProducts > 0}">
        <ul class="pagination justify-content-center flex-wrap">
          <li
            th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}"
          >
            <a
              th:replace="~{fragments :: pagination_button('products', 'First', 1)}"
            ></a>
          </li>
          <li
            th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}"
          >
            <a
              th:replace="~{fragments :: pagination_button('products', '&laquo;', ${currentPage - 1})}"
            ></a>
          </li>
          <li
            th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
            th:each="i : ${#numbers.sequence(1, lastPage)}"
            class="page-item"
          >
            <a
              th:replace="~{fragments :: pagination_button('products', ${i}, ${i})}"
            ></a>
          </li>
          <li
            th:class="${currentPage < lastPage ? 'page-item' : 'page-item disabled'}"
          >
            <a
              th:replace="~{fragments :: pagination_button('products', '&raquo;', ${currentPage + 1})}"
            >
            </a>
          </li>
          <li
            th:class="${currentPage < lastPage ? 'page-item' : 'page-item disabled'}"
          >
            <a
              th:replace="~{fragments :: pagination_button('products', 'Last', ${lastPage})}"
            ></a>
          </li>
        </ul>
      </nav>
    </div>

    <br />
    <div th:replace="~{fragments :: footer()}"></div>

    <script>
      moduleURL = "[[@{/api/v1/products}]]";
    </script>
    <script type="text/javascript" th:src="@{/scripts/common.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/clearSearch.js}"></script>
    <script
      type="text/javascript"
      th:src="@{/scripts/showModalConfirmationDialog.js}"
    ></script>
  </body>
</html>
