<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
  <head
    th:replace="~{fragments :: html_head('Create new Product', 'none')}"
  ></head>

  <body>
    <div class="m-2" th:fragment="content" th:remove="tag">
      <div class="row border" id="divProductImages">
        <div class="p-2 col">
          <div class="m-2"
          style="max-width: 320px"
          >
            <label>Main Image: [[${productDTO.mainImage}]]</label>
          </div>
          <div class="m-2">
            <img
              th:if="${productDTO.mainImage != null}"
              height="150px"
              width="150px"
              id="thumbnail"
              alt=""
              class="img-fluid"
              th:src="@{${productDTO.mainImagesPath}}"
            />
            <img
              th:if="${productDTO.mainImage == null}"
              id="thumbnail"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="mt-3 ms-2">
            <input
              type="file"
              onchange="showExtraThumbnail('#thumbnail', this, 502400)"
              value="Choose File"
              accept="image/png, image/jpeg"
              id="fileImage"
              name="fileImage"
              th:required="${productDTO.mainImagesPath == null}"
            />
          </div>
        </div>

        <th:block
          th:each="image, status : ${productDTO.images}"
        >
          <div class="p-2 col" th:id="'divExtraImage' + ${status.index + 1}"
          style="max-width: 320px"
          >
            <div th:id="'extraImageHeader' + ${status.index + 1}" class="m-2">
              <label
                >Extra Image #[[${status.index + 1}]]: [[${image.name}]]</label
              >
              <a
                th:fileName="${image.name}"
                th:id="'removeButtonId' + ${status.index + 1}"
                th:productId="${image.product.id}"
                th:href="'javascript:removeExtraImage(' + ${status.index + 1} + ')'"
                class="btn fas fa-times-circle fa-2xl text-secondary float-end"
                title="Remove this image"
              ></a>
            </div>
            <div class="m-2">
              <img
                height="150px"
                width="150px"
                th:id="'extraThumbnail' + ${status.index + 1}"
                class="img-fluid"
                th:src="@{${image.extraImagePath}}"
                alt=""
              />
            </div>
            <div class="mt-3 ms-2">
              <input
                type="file"
                onchange="showExtraThumbnail('#extraThumbnail' + $(this).attr('imageN'), this, 502400)"
                value="Choose File"
                accept="image/png, image/jpeg"
                th:imageN="${status.index + 1}"
                th:id="'extraImage' + ${status.index + 1}"
                name="extraImage"
              />
            </div>
          </div>
        </th:block>

        <div
          class="row"
          id="divExtraImages"
          th:imagesAmount="${imagesAmount}"
        ></div>
      </div>
    </div>
  </body>
</html>
