<!DOCTYPE html>
<html
   lang="en"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head
   th:replace="~{fragments :: html_head('Home - Shop Admin', 'none')}"
></head>

<body>
<div>
  <div>
    <form
       th:action="@{/logout}"
       th:hidden="true"
       method="post"
       name="LogoutForm"
    >
      <input type="submit"/>
    </form>
    <nav th:replace="~{fragments :: navbar()}"></nav>
  </div>

  <div class="ms-4">
    <h2>Shop Control Panel</h2>
    <div>
      Welcome
      <a
         sec:authentication="principal.fullName"
         th:href="@{/api/v1/account}"
      >
      </a>
      &nbsp;
      <span sec:authentication="principal.authorities"></span>
    </div>
  </div>
</div>

<div th:replace="~{fragments :: footer()}"></div>

<script type="text/javascript" th:src="@{/scripts/common.js}"></script>
</body>
</html>
