<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>General</title>
</head>
<body>
<div th:fragment="content" th:remove="tag">
  <div class="container-fluid border border-secondary border-opacity-25 rounded-3 p-2"
       style="max-width: 650px; margin: 25px auto">
    <div class="m-2">
      <div class="pt-2">
        <p>
          Use this page to manage countries which will be displayed in the customer registration form.
          Click Load Country List first.
        </p>
      </div>
      <div class="pt-2">
        <input id="loadButton" class="btn btn-primary" type="button" value="Load Country List">
      </div>
      <div class="pt-2">
        <select id="countriesSelect" class="form-control" style="height: 200px" size="5">
        </select>
      </div>
      <div class="form-group row pt-2 ps-3">
        <form id="countryFields">
          <div class="row pt-3">
            <label id="labelCountryName" class="col-sm-3 col-form-label">Country Name:</label>
            <div class="col-sm-9">
              <input id="fieldCountryName" class="form-control" type="text" minlength="3" autocomplete="off" maxlength="45" required>
            </div>
          </div>
          <div class="row pt-3">
            <label id="labelCountryCode" class="col-sm-3 col-form-label">Country Code:</label>
            <div class="col-sm-9">
              <input id="fieldCountryCode" class="form-control" type="text" minlength="2" maxlength="3" autocomplete="off" required>
            </div>
          </div>
          <div class="text-end pt-4 ">
            <input id="buttonAddCountry" class="btn btn-secondary me-1" type="button" value="New">
            <input id="buttonUpdateCountry" class="btn btn-secondary me-1" type="button" value="Update" disabled="disabled">
            <input id="buttonDeleteCountry" class="btn btn-secondary" type="button" value="Delete" disabled="disabled">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>