<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
  <head
    th:replace="~{fragments :: html_head('Control Panel - Shop Admin', 'none')}"
  ></head>

  <body>
    <div>
      <div>
        <form
          th:action="@{/logout}"
          th:hidden="true"
          method="post"
          name="LogoutForm"
        >
          <input type="submit" />
        </form>

        <nav th:replace="~{fragments :: navbar()}"></nav>
      </div>

      <div class="ms-4">
        <h2>Manage Categories</h2>
        <a
          class="fa-solid fa-user-plus fa-2x text-secondary mt-2"
          style="text-decoration: none"
          title="Create new Category"
          th:href="@{${moduleURL}  + '/new'}"
        ></a>
        &nbsp;&nbsp;
        <a
          class="fa-solid fa-file-csv fa-2x text-secondary mt-2"
          style="text-decoration: none"
          title="Export to CSV"
          th:href="@{${moduleURL}  + '/export/csv'}"
        ></a>
      </div>

      <!-- Filter bar -->
      <form
        class="row g-3 mt-2 container-fluid ps-3"
        th:action="@{${moduleURL}  + '/1'}"
      >
        <input type="hidden" name="sortField" th:value="${sortField}" />
        <input type="hidden" name="sortDir" th:value="${sortDir}" />

        <div class="col-auto">
          <div class="input-group">
            <div class="input-group-text">Filter</div>
            <input
              class="form-control"
              type="text"
              name="keyword"
              th:value="${keyword}"
              required
            />
          </div>
        </div>

        <div class="col-auto">
          <button class="btn btn-primary" type="submit">
            <i class="fas fa-search"></i>
          </button>
          &nbsp;
          <button
            class="btn btn-secondary"
            type="button"
            id="btnClear"
            onclick="clearSearch()"
          >
            <i class="fas fa-eraser"></i>
          </button>
        </div>
        <div>&nbsp;</div>
      </form>

      <div class="text-center alert alert-success" th:if="${message != null}">
        [[${message}]]
      </div>

      <div class="full-details">
        <table
          class="text-center table table-bordered table-striped table-hover"
        >
          <thead>
            <tr>
              <th class="hideable-column">
                <span
                  th:replace="~{fragments :: column_link('categories', 'id', 'ID', 'tag')}"
                ></span>
              </th>
              <th>Category image</th>
              <th
                th:replace="~{fragments :: column_link('categories', 'name', 'Category Name', 'none')}"
              ></th>
              <th
                th:replace="~{fragments :: column_link('categories', 'alias', 'Alias', 'none')}"
              ></th>
              <th
                th:replace="~{fragments :: column_link('categories', 'enabled', 'Enabled', 'none')}"
              ></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="category: ${categories}">
              <td class="text-center hideable-column">[[${category.id}]]</td>
              <td class="text-center">
                <div th:if="${category.image == null}">
                  <i class="fa-solid fa-laptop"></i>
                </div>
                <img
                  class="img-fluid rounded-3"
                  style="width: 100px"
                  th:if="${category.image != null}"
                  th:src="@{${category.photosImagePath}}"
                  alt=""
                />
              </td>
              <td class="text-center">[[${category.name}]]</td>
              <td class="text-center">[[${category.alias}]]</td>
              <td class="text-center">
                <div
                  th:replace="~{fragments :: status(${category.enabled}, ${category}, 'categories')}"
                ></div>
              </td>
              <td class="text-center">
                <a
                  th:replace="~{fragments :: edit('categories', ${category}, 'category')}"
                ></a>
                <span class="m-3"></span>
                <a
                  th:replace="~{fragments :: delete('categories', ${category}, 'category', ${category.children.size != 0})}"
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="less-details">
      <div th:each="category : ${categories}" class="row m-1">
        <div class="col-auto">
          <span
            th:if="${category.image == null}"
            class="fa-solid fa-image-portrait fa-2x"
          ></span>
          <img
            class="img-fluid rounded-3"
            style="width: 100px"
            th:if="${category.image != null}"
            th:src="@{${category.photosImagePath}}"
            alt=""
          />
        </div>
        <div class="col-auto">
          <div>[[${category.name}]]</div>
          <div>&nbsp;</div>
          <div>
            <div
              th:replace="~{fragments :: status(${category.enabled}, ${category}, 'categories')}"
            ></div>
            <span class="m-1"></span>
            <a
              th:replace="~{fragments :: edit('categories', ${category}, 'category')}"
            ></a>
            <span class="m-1"></span>
            <a
              th:replace="~{fragments :: delete('categories', ${category}, 'category', ${category.children.size != 0})}"
            ></a>
          </div>
        </div>
        <div>&nbsp;&nbsp;</div>
      </div>
    </div>

    <div class="modal fade" id="confirmModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Delete Confirmation</h4>
            <button
              id="modalCancelBtnX"
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body">
            <p id="modalBody"></p>
          </div>

          <div class="modal-footer">
            <a id="yesBtn" class="btn btn-success" href="">Yes</a>
            <button
              id="ConfirmationBtn"
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              No
            </button>
          </div>
        </div>
      </div>
    </div>

    <br />
    <!-- pagination bar -->
    <div th:replace="~{fragments :: pagination_bar('categories', 'Categories')}"></div>

    <br />
    <div th:replace="~{fragments :: footer()}"></div>

    <script>
      moduleURL = "[[@{${moduleURL}}]]";
    </script>
    <script type="text/javascript" th:src="@{/scripts/common.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/clearSearch.js}"></script>
    <script
      type="text/javascript"
      th:src="@{/scripts/showModalConfirmationDialog.js}"
    ></script>
  </body>
</html>
