<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head('Forgot Password', none)}"></head>
<body>
<div class="text-center">
  <div th:replace="~{fragments :: header_navbar}"></div>

  <form th:action="@{/password/forgot}" method="post" style="max-width: 370px; margin: 0 auto">
    <h3 class="text-center p-2">Forgot Password</h3>
    <div class="border border-secondary border-opacity-25 rounded">
      <p class="ps-2 pe-2 pt-4">
        <span>We will send a password reset link to your email.</span>
      </p>
      <p class="ps-2 pe-2 pt-1">
        <input
           class="form-control"
           type="email"
           name="email"
           placeholder="E-mail"
           required
        >
      </p>
      <div class="text-center">
        <div th:if="${param.error}" class="p-1">
          <span class="text-danger">
            [[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]
          </span>
        </div>
        <div th:if="${error != null}" class="p-1">
          <span class="text-danger">[[${error}]]</span>
        </div>
        <div th:if="${message != null}" class="p-1">
          <span class="text-info">[[${message}]]</span>
        </div>
      </div>
      <div class="text-center pt-1 pb-3">
        <input class="btn btn-primary" type="submit" value="Send">
      </div>
    </div>
    <br>
    <div th:replace="~{fragments :: footer}"></div>
  </form>
</div>

</body>
</html>
<br>