<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head('New Password', none)}"></head>
<body>
<div class="text-center">
  <div th:replace="~{fragments :: header_navbar}"></div>

  <form th:action="@{/password/new}" method="post" style="max-width: 370px; margin: 0 auto">
    <h3 class="text-center p-2">New Password</h3>
    <input type="hidden" th:value="${token}" name="token">
    <div class="border border-secondary border-opacity-25 rounded">
      <div class="ps-2 pe-2 pb-2 pt-2">
        <div class="pt-1">
          <input
             id="password"
             class="form-control"
             name="password"
             type="password"
             minlength="6"
             maxlength="15"
             oninput="checkPasswordMatch(document.getElementById('confirmPassword'))"
             placeholder="Type new Password"
             required
          />
        </div>
      </div>
      <div class="ps-2 pe-2 pb-2 pt-1">
        <div class="pt-1">
          <input
             id="confirmPassword"
             class="form-control"
             type="password"
             minlength="6"
             maxlength="15"
             oninput="checkPasswordMatch(this)"
             placeholder="Re-Type new Password"
             required
          />
        </div>
      </div>
      <div class="text-center">
        <div th:if="${param.error}" class="p-1">
          <span class="text-danger">
            [[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]
          </span>
        </div>
        <div th:if="${error != null}" class="p-1">
          <span class="text-danger">[[${error}]]</span>
        </div>
        <div th:if="${message != null}" class="p-1">
          <span class="text-info">[[${message}]]</span>
        </div>
      </div>
      <div class="text-center pt-1 pb-3">
        <input class="btn btn-primary" type="submit" value="Change Password">
      </div>
    </div>
    <br>
    <div th:replace="~{fragments :: footer}"></div>
  </form>
</div>

<script th:src="@{/scripts/checkPasswordMatch.js}" type="text/javascript"></script>
</body>
</html>
<br>