<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head('Login Page', none)}"></head>
<body>

<div class="">
  <div th:replace="~{fragments :: header_navbar}"></div>

  <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto">
    <h3 class="text-center p-2">Customer Login</h3>
    <div class="border border-secondary border-opacity-25 rounded">
      <p class="ps-2 pe-2 pt-3">
        <input class="form-control "
               type="email"
               name="email"
               placeholder="E-mail"
               required
        >
      </p>
      <p class="ps-2 pe-2">
        <input
           type="password"
           name="password"
           class="form-control"
           placeholder="Password"
           required
        />
      </p>
      <div class="text-center">
        <div th:if="${param.error}">
          <span class="text-danger">
            [[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]
          </span>
        </div>
        <div th:if="${param.logout}">
          <span class="text-info">You have been logged out.</span>
        </div>
      </div>
      <p class="text-center pt-2">
        <input type="checkbox" name="remember-me">
        <span>Remember Me</span>
      </p>

      <div class="text-center pt-1 pb-3">
        <input class="btn btn-primary" type="submit" value="Sign In">
      </div>
    </div>
    <br>
    <div th:replace="~{fragments :: footer}"></div>
  </form>
</div>

</body>
</html>